<script>
  import fetch from "cross-fetch";
  import config from "../config";
  import Header from "../components/Header.svelte";
  import ArticleInList from "../components/ArticleInList.svelte";
  import Divider from "../components/Divider.svelte";
  import Intro from "../components/Intro.svelte";
  import WriteUs from "../components/WriteUs.svelte";
  import articleList from "../data/articleList";
  let stats = {};
  fetch(`${config.api}/getArticles`)
    .then((res) => res.json())
    .then((res) => {
      stats = { ...stats, ...res.result };
    })
    .catch(() => {});
</script>

<Header
  header={{ image: 'flames.jpg', title: 'Профессиональное пригорание', topTitle: 'Основано на реальных событиях', description: 'Эти статьи полны цинизма и не всегда этичных советов. Кто-то может осуждать такое поведение, но ваше эмоциональное здоровье ценнее всяких там суждений. Если на работе у вас начинает пригорать, смело пишите нам.' }} />
<main>
  <Intro />
  <Divider />
  {#each articleList as article, i}
    <ArticleInList
      {article}
      even={i % 2 === 0}
      stats={stats[article.link] || {}} />
    <Divider />
  {/each}
  <WriteUs />
</main>

<style>
  main {
    padding-bottom: 24px;
  }
</style>
