<script>
  import { onMount } from "svelte";
  import config from "../config";
  import fetch from "cross-fetch";
  import Header from "./Header.svelte";
  import Divider from "./Divider.svelte";
  import Suggestions from "./Suggestions.svelte";
  import FlameFlat from "../assets/FlameFlat.svelte";
  import SocialShare from "./SocialShare.svelte";
  import Likes from './Likes.svelte'
  import WriteUs from './WriteUs.svelte'
  export let header = {};
  let stats = { reads: 1, likes: 0 };

  let id =
    typeof window !== "undefined"
      ? window.location.pathname.split("/").slice(-1)[0]
      : "";
  let isLiked =
    typeof window !== "undefined"
      ? Boolean(localStorage.getItem("like-" + id))
      : false;
  onMount(() => {
    fetch(`${config.api}/readArticle?id=${id}`).catch(() => {});
    fetch(`${config.api}/getArticle?id=${id}`)
      .then(res => res.json())
      .then(res => {
        stats = { ...stats, ...res.result };
      })
      .catch(() => {});
  });

  const like = () => {
    if(isLiked) return
    localStorage.setItem("like-" + id, true);
    isLiked = true;
    fetch(`${config.api}/likeArticle?id=${id}`).catch(() => {});
    stats.likes += 1;
  };
</script>

<main>
  <a class="back" href="/">
    <FlameFlat />
    <span class="backText">ГЛАВНАЯ</span>
  </a>
  <Header {header} />
  
  <article>
    <slot />
    <Likes {stats} {like} {isLiked} />
  </article>
  <SocialShare />
  <Divider />
  <Suggestions />
  <Divider />
  <WriteUs theme="white"/>
</main>

<style>
  main {
    background: white;
    padding-bottom: 24px;
  }
  .backText {
    margin-top: 8px;
  }
  .back {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-decoration: none;
    font-weight: 100;
    font-size: 12px;
  }
  article {
    margin: 24px 40px;
    max-width: 800px;
    margin: 0 auto;
  }
  article :global(p) {
    font-size: 20px;
    line-height: 1.55;
    font-weight: 300;
    color: #36474f;
  }
  article :global(ol) {
    counter-reset: myCounter;
  }
  article :global(li) {
    list-style: none;
    font-size: 20px;
    line-height: 1.55;
    font-weight: 300;
    color: #36474f;
    display: flex;
    align-items: center;
  }

  article :global(li:before) {
    counter-increment: myCounter;
    content: counter(myCounter);
    color: white;
    background: black;
    display: inline-block;
    text-align: center;
    margin: 5px 10px;
    line-height: 40px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
  }

  article :global(a) {
    color: #cd0202;
  }
  article :global(a:visited) {
    color: #cd0202;
  }
  article :global(a:hover) {
    color: #ee0202;
  }
  article :global(img) {
    max-width: 100%;
    margin: 0 auto;
    border-radius: 16px;
  }
  article :global(p img) {
    display: flex;
    align-items: center;
  }

  @media screen and (max-width: 800px) {
    article {
      margin: 24px;
    }
    article :global(p) {
      font-size: 16px;
    }
    article :global(ol) {
      padding-left: 0;
    }
    article :global(li) {
      font-size: 16px;
    }
  }
</style>
