<script>
  import Likes from './Likes.svelte'
  export let article = {};
  export let even = false
  export let stats = {}
</script>

<div class="article">
  <div
    class="cover"
    style={`background-image: url(/images/${article.image});`}
    />
  <div class="content" class:even>
    <a href={`/article/${article.link}`}><h1>{article.title}</h1></a>
    <p>{article.text}</p>
    <Likes stats={stats} style="white"/>
    <div class='spacer'/>
    <a href={`/article/${article.link}`} class="button">Читать далее</a>
  </div>
</div>

<style>
.spacer{
  height: 16px;
}
  .content {
    margin-left: 24px;
  }
  .article {
    margin: 24px 40px;
    display: flex;
  }
  .cover {
    border-radius: 16px;
    background: black;
    min-width: 300px;
    min-height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .even{
    order: -1;
    margin-left: 0px;
    margin-right: 24px;
  }
  h1 {
    margin-top: 0px;
    font-weight: 700;
    font-size: 32px;
    color: white;
  }
  p {
    font-size: 16px;
    font-weight: 300;
    color: #d7dadc;
  }
  a{
    text-decoration: none;
  }
  .button {
    display: inline-block;
    background: #cd0202;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    padding: 8px 24px;
    font-size: 14px;
  }
  .button:hover {
    background: #ee0202;
  }
  @media screen and (max-width: 800px) {
    .article {
      flex-direction: column;
      margin: 24px;
    }
    .cover {
      min-width: 100%;
      min-height: 200px;
    }
    .content {
      margin: 0px;
    }
    .even{
      order: 1;
    }
    h1 {
      margin-top: 24px;
      font-size: 24px;
    }
    p {
      font-size: 16px;
    }
  }
</style>
