<script>
  import Flame from "../assets/Flame.svelte";
</script>

<div class="divider">
  <div class="line" />
</div>

<style>
  .divider {
    margin: 32px 0px;
  }
  .line {
    width: 50%;
    height: 1px;
    border-radius: 50%;
    background: #cd0202;
    margin: auto;
  }
  @media screen and (max-width: 800px) {
      .line{
          width: 80%;
      }
  }
</style>
