<footer>
    <div>© Профессиональное пригорание {new Date().getFullYear()}</div>
</footer>

<style>
footer{
    background: black;
    color: white;
    display: flex;
    
    align-items: center;
    padding: 24px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(/images/flames.jpg);
}
</style>