<script>
  import { cubicInOut } from "svelte/easing";
  import { onMount } from "svelte";
  export let header = {};
  let startAnimation = false;
  function descriptionAnimation(node, { duration = 1000 }) {
    return {
      duration,
      css: t => {
        const eased = cubicInOut(t);
        return `opacity:${t};`;
      }
    };
  }
  function topTitleAnimation(node, { duration = 500 }) {
    return {
      duration,
      delay: 500,
      css: t => {
        const eased = cubicInOut(t);
        return `transform: translateX(${(1 - eased) * -50}px); opacity:${t};`;
      }
    };
  }
  function titleAnimation(node, { duration = 500 }) {
    return {
      duration,
      css: t => {
        const eased = cubicInOut(t);
        return `transform: translateY(${(1 - eased) * -50}px); opacity:${t};`;
      }
    };
  }
  onMount(() => {
    startAnimation = true;
  });
</script>

<header style={`background-image: url(/images/${header.image});`}>
  <div class="headerContent">
    {#if startAnimation}
      {#if header.topTitle}
        <h3 in:topTitleAnimation>{header.topTitle}</h3>
      {/if}
      {#if header.title}
        <h1 in:titleAnimation>{header.title}</h1>
      {/if}
      {#if header.description}
        <h2 in:descriptionAnimation>{header.description}</h2>
      {/if}
    {/if}
  </div>
</header>
<svelte:head>
  <title>{header.title}</title>

  <meta property="og:type" content="article" />
  <meta property="og:title" content={header.title} />
  <meta property="og:description" content={header.description} />
  <meta
    property="og:image"
    content={`http://fire-ass.web.app/images/${header.image}`} />
  <meta property="og:site_name" content="Профессиональное пригорание" />
</svelte:head>

<style>
  header {
    background: black;
    position: relative;
    min-height: 100vh;
    background-image: url(/images/flames.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
  }

  .headerContent {
    flex-grow: 1;
    z-index: 2;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    );
  }
  h1 {
    font-size: 72px;
    text-align: center;
    padding: 0 24px;
    font-weight: 700;
  }

  h2 {
    max-width: 700px;
    font-weight: 300;
    text-align: center;
    padding: 0 24px;
  }

  h3 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2.5px;
    text-align: center;
  }

  @media screen and (max-width: 480px) {
    h1 {
      font-size: 30px;
    }
    h2 {
      font-size: 14px;
    }
    h3 {
      font-size: 10px;
    }
  }
</style>
