<div class="intro">
  <h2>Зачем все это?</h2>
  <div class="divider"/>
  <p>
    Вокруг описываются сплошные истории успеха, которые потихоньку начинают
    вводить в депрессию, потому что у тебя не так. И на самом деле у многих не
    так, просто об этом не принято говорить. Давайте вместе смеяться над
    абсурдностью в рабочих буднях и спасаться от выгорания.
  </p>
</div>

<style>
  .intro {
      padding: 96px 0 72px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: auto;
  }
  h2 {
    font-weight: 700;
    font-size: 32px;
    color: white;
  }
  p {
    font-size: 24px;
    font-weight: 300;
    color: #d7dadc;
    text-align: center;
  }
  .divider{
      height: 2px;
      width: 100px;
      background: #cd0202;
  }
  @media screen and (max-width: 480px) {

    h2 {
      font-size: 24px;
    }
    p {
      font-size: 16px;
      padding: 0 24px;
    }
  }
</style>
