<script>
  import Read from "../assets/Read.svelte";
  import Like from "../assets/Like.svelte";
  export let stats = {};
  export let like = () => {};
  export let isLiked = false;
  export let style = "";
</script>

<div class="likes" class:white={style === 'white'}>

  <div class="item">
    <Like filled={isLiked} on:click={like} {style} />
    <div class="number">{stats.likes === undefined ? '0' : stats.likes}</div>
  </div>
  <div class="item">
    <Read {style} />
    <div class="number">{stats.reads === undefined ? '0' : stats.reads}</div>
  </div>

</div>

<style>
  .item {
    display: flex;
    align-items: center;
    width: 80px;
  }
  .number {
    font-size: 16px;
    font-weight: 100;
    margin-left: 8px;
  }
  .likes {
    display: flex;
  }
  .white .number {
    color: #828d91;
  }
</style>
