<script>
  import Vk from "../assets/Vk.svelte";
  import Facebook from "../assets/Facebook.svelte";
  import Twitter from "../assets/Twitter.svelte";
  import Ok from "../assets/Ok.svelte";
  const url = typeof window !== "undefined" ? window.location.href : "";
</script>

<div class="socialShare">
  <div class="share">Поделиться</div>
  <div class="social">
    <a
      href={`https://vk.com/share.php?url=${url}`}
      target="_blank"
      rel="noopener"
      aria-label="Share on vkontakte">
      <Vk />
    </a>
    <a
      href={`https://connect.ok.ru/offer?url=${url}&title=${encodeURIComponent('test')}`}
      target="_blank"
      rel="noopener">
      <Ok />
    </a>
    <a
      href={`https://facebook.com/sharer/sharer.php?u=${url}`}
      target="_blank"
      rel="noopener">
      <Facebook />
    </a>

    <a
      class="resp-sharing-button__link"
      href={`https://twitter.com/intent/tweet/?text=${encodeURIComponent('test')}&url=${url}`}
      target="_blank"
      rel="noopener">
      <Twitter />
    </a>

  </div>
</div>

<style>
  .share{
    color: #36474F;
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 4px;
  }
  .socialShare{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .social {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
  }
  a {
    margin: 8px;
  }
</style>
