<script>
  import articleList from "../data/articleList";
  const filter =
    typeof window !== "undefined"
      ? window.location.pathname.split("/").slice(-1)[0]
      : "";

  const articles = [...articleList]
    .filter(item => item.link !== filter)
    .sort(() => (Math.random() > 0.5 ? 1 : -1))
    .slice(0, 5);
</script>

<h2>Читать еще</h2>

<div class="suggestions">
  {#each articles as article}
    <a href={`/article/${article.link}`} class="article">
      <div
        class="cover"
        style={`background-image: url(/images/${article.image});`} />
      <h3>{article.title}</h3>
    </a>
  {/each}
</div>

<style>
  .suggestions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .article {
    display: block;
    padding-bottom: 16px;
    margin: 0 24px;
  }
  .cover {
    min-width: 200px;

    min-height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  h2 {
    color: #36474f;
    text-align: center;
  }
  h3 {
    color: #36474f;
    text-align: center;
  }
  a {
    text-decoration: none;
    max-width: 200px;
  }
  @media screen and (max-width: 480px) {
    .suggestions {
      display: block;
      margin: 0;
    }
    .cover {
      min-height: 150px;
    }
    .article {
      margin: 0;
    }
    a {
      max-width: 100%;
    }
  }
</style>
