<script>
    import {fade} from 'svelte/transition'
  import config from "../config";
  import Loader from "./Loader.svelte";
  const emailRegexp = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/i;

  export let theme = 'black'
  let email = "";
  let text = "";
  let error = "";
  let isLoading = false;
  let isSent = false
  const send = () => {
    if (!email) return (error = "Без email мы не сможем с вами связаться");
    if (!emailRegexp.test(email))
      return (error = "Email не похож на настоящий");
    if (!text) return (error = "Сначала нужно что-нибудь написать");
    error = "";
    isLoading = true;
    fetch(`${config.api}/writeUs`, {
      method: "POST",
      body: JSON.stringify({ email, text }),
    })
      .then((res) => res.json())
      .then((res) => {
        isSent = true
        setTimeout(()=>{
          text='';
          error=''
          isSent=false
        }, 5000)
      })
      .catch(() => {})
      .finally(() => (isLoading = false));
  };
</script>

<div class="writeUs" class:white={theme==='white'}>
    <div class='form' class:hidden={isSent}>
        <h2>Напишите нам</h2>
        <p>
          У вас есть отличная история профессионального пригорания? Поделитесь с нами!
        </p>
        <input placeholder="Ваш email" bind:value={email} />
        <textarea
          bind:value={text}
          placeholder="От чего у вас пригорает? Напишите здесь или пришлите ссылку на документ"
          rows="6" />
        <div class="error">{error}</div>
        {#if isLoading}
          <Loader size={32}/>
        {:else}
          <button on:click={send}>Отправить</button>
        {/if}
    </div>
    {#if isSent}
    <div class='thanks' transition:fade|local>
        <h2>Спасибo!</h2>
    </div>
    {/if}
</div>

<style>
  .writeUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 24px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    position: relative;
  }
  .form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hidden{
      opacity: 0;
  }
  .thanks{
      position: absolute;
      top: 50%;left: 50%;
      transform: translate(-50%,-50%);
  }
  h2 {
    margin-top: 0px;
    font-weight: 700;
    font-size: 32px;
    color: white;
    text-align: center;
    margin-bottom: 16px;
  }
  p {
    font-size: 16px;
    font-weight: 300;
    color: #d7dadc;
    text-align: center;
  }
  input {
    width: 100%;
    font-size: 16px;
    padding: 8px;
    margin: 0;
    outline: none;
    border-radius: 8px;
    border: none;
    margin-bottom: 16px;
    color: #36474f;
  }
  input::placeholder{
    opacity: 0.5;
  }
  textarea::placeholder{
    opacity: 0.5;
  }
  textarea {
    width: 100%;
    font-size: 16px;
    padding: 8px;
    margin: 0;
    outline: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    border-radius: 8px;
    border: none;
    margin-bottom: 8px;
    color: #36474f;
  }
  button {
    border: none;
    outline: none;
    background: #cd0202;
    cursor: pointer;
    color: white;
    border-radius: 8px;
    padding: 8px 24px;
    font-size: 14px;
  }
  button:hover {
    background: #ee0202;
  }
  .error {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 300;
    color: #d7dadc;
    min-height: 19px;
  }

  .white h2{
      color:#36474f;
  }
  .white p{
      color:#36474f;
  }
  .white input{
      border: 1px solid #36474f;
  }
  .white textarea{
      border: 1px solid #36474f;
  }
</style>
