<script>
  export let size = 40;
</script>

<svg viewBox="0 0 512 512" width={size} height={size}>
  <path
    style="fill:#EEBF00;"
    d="M185.021,485.938c-30.702-16.979-52.712-34.059-70.198-65.411
    c-15.985-28.643-25.418-61.009-26.99-93.79c-0.294-6.136,7.425-9.078,11.279-4.301c10.255,12.802,23.36,24.885,38.096,34.496
    c3.885,2.526,8.642-1.653,6.593-5.812c-15.61-31.706-45.876-110.576,3.327-169.465c4.219-5.041,12.455-1.947,12.313,4.625
    c-0.375,17.263,3.479,42.843,24.89,63.626c0.209-21.768,4.594-49.782,6.207-55.907c10.193-49.345,37.052-120.811,107.584-169.516
    c10.609-7.323,27.355-11.4,22.791,14.474c-13.82,78.311-10.675,178.601,36.331,243.355c3.236,4.473,9.555,5.426,13.926,2.059
    c10.488-8.094,20.113-21.685,25.468-41.788c0.01-0.01,0.01-0.02,0.01-0.02c2.597-9.656,1.663-11.289,4.341-13.236
    c0-0.01,0-0.01,0-0.01c2.911-2.11,7.607-1.187,8.845,3.033c8.79,29.814,15.794,61.754,16.543,93.171
    C429.136,450.876,290.901,544.506,185.021,485.938z" />
  <path
    style="fill:#FFD422;"
    d="M420.12,375.493c-8.398,22.223-21.655,43.036-38.786,60.877
    c-49.831,36.047-115.78,48.036-174.182,15.731c-32.092-17.75-55.106-35.611-73.393-68.383
    c-8.003-14.332-14.413-29.323-19.312-44.709c-0.01-0.01-0.01-0.01-0.01-0.02c5.183,4.746,12.058,10.956,22.771,17.943
    c3.885,2.526,8.642-1.653,6.593-5.812c-15.61-31.706-45.876-110.576,3.327-169.465c4.219-5.041,12.455-1.947,12.313,4.625
    c-0.375,17.263,3.479,42.843,24.89,63.626c-0.043-21.362,4.257-48.504,6.207-55.907c10.193-49.345,37.052-120.811,107.584-169.516
    c10.609-7.323,27.355-11.4,22.791,14.474c-13.82,78.311-10.675,178.601,36.331,243.355c3.236,4.473,9.555,5.426,13.926,2.059
    c10.488-8.094,20.113-21.685,25.468-41.788c0.01-0.01,0.01-0.02,0.01-0.02c2.597-9.656,1.663-11.289,4.341-13.236
    c0-0.01,0-0.01,0-0.01c2.911-2.11,7.607-1.187,8.845,3.033C418.557,267.974,435.706,322.061,420.12,375.493z" />
  <path
    style="fill:#CC7400;"
    d="M339.394,392.615c0,0.01,0,0.02-0.01,0.02c-11.789,94.992-193.969,95.44-163.177-54.193
    c1.095-5.345,6.988-8.195,11.877-5.751c1.925,1.288,33.551,14.826,45.561,35.763c-7.607-17.78-26.645-82.075,32.761-192.013
    c3.58-6.603,13.541-4.483,14.078,3.012c2.576,35.348,11.867,100.647,45.034,156.006
    C337.811,355.959,341.534,375.595,339.394,392.615z" />
  <path
    style="fill:#EE8700;"
    d="M339.394,392.615c0,0.01,0,0.02-0.01,0.02c-1.674,6.035-4.118,11.634-7.181,16.705
    c-34.313,26.615-83.82,25.418-115.851-5.599c0,0-24.282-20.417-22.842-68.291c14.636,7.658,31.757,18.399,40.135,33.005
    c-7.607-17.78-26.645-82.075,32.761-192.013c3.58-6.603,13.541-4.483,14.078,3.012c2.576,35.348,11.867,100.647,45.034,156.006
    C337.811,355.959,341.534,375.595,339.394,392.615z" />
  <path
    d="M393.007,429.199c-3.3-2.6-8.083-2.03-10.682,1.272c-46.845,59.512-127.444,86.499-194.662,49.321
    c-28.928-16-50.268-32.03-67.238-62.457c-14.982-26.859-23.804-56.565-25.815-86.638c10.755,12.753,23.42,23.989,37.406,33.112
    c10.315,6.727,23.047-4.409,17.566-15.541c-7.761-15.769-17.782-40.393-21.439-68.151c-0.549-4.165-4.372-7.096-8.535-6.549
    c-4.165,0.549-7.097,4.371-6.548,8.536c3.187,24.195,10.821,46.063,18.004,62.422c-14.98-11.421-27.912-25.578-37.781-41.435
    c-3.925-6.306-13.67-3.788-14.055,3.626c-2.044,39.552,7.183,80.869,27.911,118.028c18.672,33.478,42.751,51.539,73.162,68.359
    c73.444,40.621,162.259,12.48,213.981-53.224C396.878,436.58,396.308,431.798,393.007,429.199z" />
  <path
    d="M407.395,201.427c-2.54-8.372-14.967-6.463-14.887,2.28c0.265,27.072-5.791,58.811-27.022,75.15
    c-0.969,0.745-2.397,0.508-3.122-0.494c-27.608-38.168-41.606-90.943-41.606-156.857c0-61.177,12.606-111.506,12.734-112.007
    c1.61-6.333-5.03-11.636-10.852-8.64C203.372,62.216,180.813,181.75,176.615,229.811c-8.516-14.374-10.63-29.426-10.63-40.821
    c0-11.543,2.171-19.632,2.187-19.694c2.011-7.227-6.606-12.698-12.29-7.805c-27.003,23.237-41.822,53.111-44.043,88.793
    c-0.262,4.193,2.926,7.804,7.12,8.065c4.188,0.269,7.803-2.927,8.065-7.12c1.496-24.016,9.466-45.045,23.748-62.756
    c-0.145,25.206,8.382,49.113,27.224,67.402c4.879,4.735,13.077,1.143,12.903-5.66c-0.001-0.054-0.011-0.491-0.011-1.279
    c0-16.082,3.615-154.355,124.245-226.51c-16.459,84.994-16.254,194.126,34.904,264.856c5.674,7.844,16.868,9.687,24.731,3.633
    c8.905-6.853,22.178-21.171,28.838-48.441c16.222,58.905,23.414,111.259-5.22,163.704c-2.012,3.688-0.655,8.309,3.032,10.322
    c3.663,2.002,8.296,0.679,10.322-3.031C449.228,344.801,430.423,277.316,407.395,201.427z" />
  <path
    d="M174.43,321.678c-2.071,0.95-3.608,2.777-4.186,4.98c-3.327,12.652-5.309,24.941-5.89,36.525
    c-0.211,4.196,3.021,7.768,7.216,7.978c4.247,0.202,7.768-3.022,7.978-7.217c0.39-7.774,1.483-15.932,3.259-24.352
    c14.758,7.311,34.373,18.11,42.991,32.774c2.199,5.063,4.035,9.295,9.306,9.295c5.351,0,9.078-5.442,7.047-10.46
    c-1.143-2.824-10.966-18.775-10.966-53.467c0-16.663,2.386-34.591,7.089-53.29c1.025-4.074-1.447-8.208-5.521-9.233
    c-4.07-1.023-8.209,1.446-9.234,5.522c-6.648,26.424-9.752,54.88-5.811,81.732c-11.602-8.513-24.593-14.806-34.181-19.452
    C182.173,322.574,178.796,319.675,174.43,321.678z" />
  <path
    d="M271.995,150.129c-16.824,27.743-30.064,54.931-39.353,80.812c-1.419,3.954,0.635,8.31,4.589,9.73
    c3.955,1.419,8.31-0.635,9.73-4.59c6.384-17.785,14.729-36.252,24.909-55.136c2.653,36.441,12.222,102.425,46.086,158.933
    c5.872,9.799,9.864,19.743,11.863,29.556c0.834,4.095,4.827,6.775,8.973,5.936c4.117-0.839,6.773-4.856,5.935-8.973
    c-2.345-11.505-6.96-23.058-13.719-34.338c-42.75-71.336-44.915-159.019-44.915-175.873c0-1.222,0.014-1.889,0.015-1.935
    C286.283,146.486,276.02,143.493,271.995,150.129z" />
  <path
    d="M330.089,396.658c-13.415,67.649-131.476,79.578-148.595-4.348c-0.84-4.117-4.857-6.772-8.974-5.934
    c-4.117,0.839-6.773,4.857-5.934,8.974c5.893,28.89,20.721,42.955,22.942,44.926c53.501,51.6,143.049,22.032,155.483-40.659
    c0.818-4.121-1.86-8.124-5.981-8.942C334.901,389.86,330.906,392.538,330.089,396.658z" />

</svg>
