<script>
  export let size = 40;
</script>

<svg viewBox="0 0 512 512" width={size} height={size}>

  <path
    d="M393.007,429.199c-3.3-2.6-8.083-2.03-10.682,1.272c-46.845,59.512-127.444,86.499-194.662,49.321
    c-28.928-16-50.268-32.03-67.238-62.457c-14.982-26.859-23.804-56.565-25.815-86.638c10.755,12.753,23.42,23.989,37.406,33.112
    c10.315,6.727,23.047-4.409,17.566-15.541c-7.761-15.769-17.782-40.393-21.439-68.151c-0.549-4.165-4.372-7.096-8.535-6.549
    c-4.165,0.549-7.097,4.37-6.548,8.536c3.187,24.195,10.821,46.063,18.004,62.422c-14.98-11.421-27.912-25.578-37.781-41.435
    c-3.925-6.306-13.67-3.788-14.055,3.626c-2.044,39.552,7.183,80.869,27.911,118.028c18.672,33.478,42.751,51.539,73.162,68.359
    c73.444,40.621,162.259,12.48,213.981-53.224C396.878,436.58,396.308,431.798,393.007,429.199z"
    data-original="#000000"
    class="active-path"
    fill="#FFFFFF" />

  <path
    d="M407.395,201.427c-2.54-8.372-14.967-6.463-14.887,2.28c0.265,27.072-5.791,58.811-27.022,75.15
    c-0.969,0.745-2.397,0.508-3.122-0.494c-27.608-38.168-41.606-90.943-41.606-156.857c0-61.177,12.606-111.506,12.734-112.007
    c1.61-6.333-5.03-11.636-10.852-8.64C203.372,62.216,180.813,181.75,176.615,229.811c-8.516-14.374-10.63-29.426-10.63-40.821
    c0-11.544,2.171-19.632,2.187-19.694c0.899-3.228-0.422-6.664-3.251-8.461c-2.828-1.795-6.499-1.53-9.039,0.655
    c-27.003,23.237-41.822,53.111-44.043,88.793c-0.262,4.193,2.926,7.804,7.12,8.065c4.188,0.269,7.803-2.927,8.065-7.12
    c1.496-24.016,9.466-45.045,23.748-62.756c-0.001,0.171-0.001,0.345-0.001,0.518c0,18.457,4.724,45.043,27.225,66.883
    c4.879,4.735,13.077,1.143,12.903-5.66c-0.001-0.054-0.011-0.491-0.011-1.279c0-16.082,3.615-154.355,124.245-226.51
    c-16.459,84.994-16.254,194.126,34.904,264.856c5.674,7.844,16.868,9.687,24.731,3.633c8.905-6.853,22.178-21.171,28.838-48.441
    c16.222,58.905,23.414,111.259-5.22,163.704c-2.012,3.688-0.655,8.309,3.032,10.322c3.663,2.002,8.296,0.679,10.322-3.031
    C449.228,344.801,430.423,277.316,407.395,201.427z"
    data-original="#000000"
    class="active-path"
    fill="#FFFFFF" />

  <path
    d="M242.151,371.202c-1.143-2.824-10.966-18.775-10.966-53.467c0-16.663,2.386-34.591,7.089-53.29
    c1.025-4.074-1.447-8.208-5.521-9.233c-4.07-1.023-8.209,1.446-9.234,5.522c-6.648,26.424-9.752,54.88-5.811,81.732
    c-11.602-8.513-24.593-14.806-34.181-19.452c-1.354-0.441-4.731-3.34-9.097-1.337c-2.071,0.95-3.608,2.777-4.186,4.98
    c-3.327,12.652-5.309,24.941-5.89,36.525c-0.211,4.196,3.021,7.768,7.216,7.978c4.247,0.202,7.768-3.022,7.978-7.217
    c0.391-7.774,1.483-15.932,3.259-24.352c14.758,7.311,34.373,18.11,42.991,32.774c2.199,5.063,4.035,9.295,9.306,9.295
    C240.455,381.662,244.181,376.221,242.151,371.202z"
    data-original="#000000"
    class="active-path"
    fill="#FFFFFF" />

  <path
    d="M344.726,366.397c-2.345-11.505-6.96-23.058-13.719-34.338c-42.75-71.336-44.915-159.019-44.915-175.873
    c0-1.222,0.014-1.889,0.015-1.935c0.176-7.764-10.087-10.757-14.112-4.121c-16.824,27.742-30.064,54.931-39.353,80.812
    c-1.419,3.954,0.635,8.31,4.589,9.73c3.955,1.419,8.31-0.635,9.73-4.59c6.384-17.785,14.729-36.252,24.909-55.136
    c2.653,36.441,12.222,102.425,46.086,158.933c5.872,9.799,9.864,19.743,11.863,29.556c0.834,4.095,4.827,6.775,8.973,5.936
    C342.908,374.531,345.565,370.513,344.726,366.397z"
    data-original="#000000"
    class="active-path"
    fill="#FFFFFF" />

  <path
    d="M339.03,390.676c-4.128-0.817-8.123,1.862-8.941,5.982c-13.415,67.649-131.476,79.578-148.595-4.348
    c-0.84-4.117-4.857-6.772-8.974-5.933c-4.117,0.839-6.773,4.857-5.933,8.974c5.893,28.89,20.721,42.955,22.942,44.926
    c53.501,51.6,143.049,22.032,155.483-40.659C345.828,395.497,343.15,391.494,339.03,390.676z"
    data-original="#000000"
    class="active-path"
    fill="#FFFFFF" />

</svg>
