<svg height="24px" viewBox="0 0 24 24" width="24px">

  <path
    d="m19.223 12.484c-.606-1.183-2.081-1.632-3.525-.497-.014.011-1.444
    1.108-3.695
    1.108s-3.681-1.098-3.695-1.108c-1.438-1.136-2.925-.691-3.527.5-.002.003-.003.006-.005.01-.895
    1.831.583 2.785 1.772 3.552.735.473 1.675.83 2.804 1.066l-3.205 3.212c-1.935
    1.931 1.097 4.978 3.052 3.067l2.814-2.828c1.083 1.085 2.092 2.098 2.82 2.839
    1.93 1.895 4.982-1.099 3.058-3.074-2.295-2.293-2.789-2.788-3.223-3.215
    2.396-.513 5.729-2.194 4.555-4.632zm-6.025 3.355c-.518-.249-1.206.697-.64
    1.285l.006.006c.001.001.003.003.004.004.002.002.003.004.005.005.288.287
    4.163 4.158 4.249 4.245.538.553-.41
    1.467-.931.959-.93-.946-2.405-2.423-3.35-3.37-.292-.293-.769-.295-1.062
    0l-3.338
    3.354c-.529.517-1.472-.406-.936-.941l4.244-4.252c.002-.002.004-.004.005-.006.527-.518-.005-1.478-.625-1.295-1.477-.173-2.674-.534-3.471-1.046-1.54-.995-1.463-1.17-1.24-1.627.648-1.241
    1.796 1.435 5.883 1.435 2.799 0 4.555-1.375 4.624-1.43.456-.358.991-.525
    1.254-.014.223.463.306.636-1.238 1.639-1.054.671-2.544.942-3.443 1.049z"
    data-original="#000000"
    class="active-path"
     />
  <path
    d="m11.999 9.997c1.954 0 3.543-1.592 3.543-3.548
    0-1.964-1.589-3.562-3.543-3.562-1.953 0-3.542 1.598-3.542 3.562-.001 1.956
    1.588 3.548 3.542 3.548zm0-5.61c1.126 0 2.043.925 2.043 2.062 0 1.129-.917
    2.048-2.043 2.048s-2.043-.919-2.043-2.049c0-1.136.916-2.061 2.043-2.061z"
    data-original="#000000"
    class="active-path"
     />
  <path
    d="m11.999 12.883c3.549 0 6.437-2.887
    6.437-6.435-.001-3.555-2.888-6.448-6.437-6.448s-6.437 2.893-6.437 6.448c0
    3.548 2.887 6.435 6.437 6.435zm0-11.383c2.722 0 4.937 2.22 4.937 4.948 0
    2.721-2.214 4.935-4.937 4.935s-4.937-2.214-4.937-4.935c0-2.728 2.214-4.948
    4.937-4.948z"
    data-original="#000000"
    class="active-path"
     />

</svg>
<style>
path{
  fill: #36474F;
}
</style>