<svg height="24px" viewBox="0 -120 512.00201 512" width="24px">

  <path
    d="m409.898438 153.902344 101.796874-153.902344h-156.117187l-2.914063
    11.292969c-7.480468 28.992187-21.519531 68.285156-45.914062
    90.839843-3.015625 2.785157-5.871094 5.023438-8.5
    6.816407v-108.949219h-135.972656v30.101562h12.703125v68.222657c-15.242188-13.40625-34.394531-38.988281-39.410157-84.90625l-1.464843-13.417969h-134.105469l4.605469
    18.65625c16.558593 67.09375 41.398437 122.058594 73.835937 163.367188
    26.480469 33.726562 58.019532 58.488281 93.738282 73.59375 31.898437
    13.492187 61.269531 16.800781 82.402343 16.800781 19.4375 0
    31.902344-2.800781 32.949219-3.042969l11.464844-2.671875.59375-41.351563
    51.058594 44.417969h161.355468zm-139.484376 6.175781-1.164062
    81.546875c-16.808594 1.496094-50.109375
    1.554688-86.859375-14.378906-30.691406-13.308594-57.953125-35.101563-81.027344-64.777344-26.425781-33.984375-47.449219-78.449219-62.613281-132.367188h68.777344c14.886718
    86.335938 74.78125 108.675782 77.449218 109.625l20.105469
    7.171876v-116.796876h63.070313v116.945313l15.835937-.828125c1.925781-.101562
    19.414063-1.496094 40.066407-19.195312 23.464843-20.113282
    41.828124-52.683594 54.664062-96.921876h76.976562l-83.617187 126.410157
    73.277344 83.152343h-83.449219zm0 0"
    data-original="#000000"
    class="active-path" />

</svg>

<style>
  path {
    fill: #36474F;
  }
</style>
