<script>
  import Article from "../../components/Article.svelte";
</script>

<Article header={{ title: 'Активация менеджера', image: 'activate.jpg' }}>
  <p>
    Один из ведущих вендоров ERP системы рекомендует проводить внедрение по
    своей методологии Activate (активировать).
  </p>
  <p>
    Когда я участвовал в таком внедрении, руководство компании после полугода
    безуспешных попыток сдвинуть проект с мертвой точки решило провести такой
    тренинг.
  </p>

  <p>
    В первый день обучения все было стандартно: 50 слайдов с текстом 10 кеглем,
    зачитывание по 15 пунктов с экрана, заунывная теория и очевидные схемы.
    Техническая команда смирилась с потраченным временем, а менеджеры тихонько
    копались в телефонах и кивали в нужные моменты.
  </p>

  <p>
    Во второй день началась практическая часть. И это было просто чудо в
    переговорной комнате. Тренер начал задавать простые, конкретные вопросы:
  </p>
  <ol>
    <li>Где устав проекта?</li>
    <li>Какие роли в проекте, и кто за них отвечает?</li>
    <li>Есть ли план проекта?</li>
    <li>Какие задачи в текущий момент стоят перед командой?</li>
  </ol>

  <p>
    Когда ни на один вопрос не был дан ответ, тренер вздохнул и попросил команду
    набросать список проблем и задач, которые сейчас есть в проекте. После 10
    минут обсуждения, на доске образовалось более пятидесяти стикеров с
    описанием проблем и задач. Затем тренер попросил менеджера проекта принести
    ноутбук и открыть Excel. То, что происходило дальше, вошло в историю
    компании, как активация менеджера.
  </p>

  <p>
    Тренер отрывал стикер от доски, зачитывал проблему, и спрашивал, что нужно
    сделать, чтобы эту проблему решить. Ответ заставлял записать в виде списка
    задач в электронную таблицу. Затем просил назначить ответственных за
    выполнение этих задач и указать срок выполнения. После 6 часов и 15
    стикеров, тренер откланялся и оставил нас с планом действий более чем в сто
    пунктов. Неплохо для одного дня. Забегая вперед, скажу, что такой активации
    хватило всего на месяц работы, и дальше в проекте наступил тлен. Было бы
    здорово повторить активацию менеджера, но бюджета, увы, не нашлось.
  </p>

  <p>
    Из всего этого действа я вынес простую истину. Если у вас есть проблема и
    нужно кого-то раскачать, задайте три простых вопроса:
  </p>
  <ol>
    <li>Что нужно сделать?</li>
    <li>Кто это делает?</li>
    <li>Когда это будет выполнено?</li>
    
  </ol>
  <p>Повторить необходимое количество раз.</p>
  <p>
    Вероятно, ноздри вашего оппонента будут яростно раздуваться, лицо станет
    багровым, но выходе у вас будет четкий план действий, с которым вы сможете
    двигаться дальше. Не отступайте, пока не получите внятные ответы. Для
    большего эффекта запишите ответы и повесьте на самом видном месте в офисе.
    Сможете потом тыкать коллегу в этот план или сыграть в тотализатор сроков,
    если все безнадежно.
  </p>

</Article>
