<script>
  import Article from "../../components/Article.svelte";
</script>

<Article header={{ title: 'Булшит Бинго', image: 'bingo.jpg' }}>
  <p>
    Одна маленькая нефтедобывающая компания решила внедрить большую ERP систему.
    И тут началось паломничество консультантов в одинаковых пиджаках в офис
    компании.
  </p>

  <p>
    Чтобы купить что-нибудь ненужное, нужно сначала продать что-нибудь ненужное.
    Эти самые консультанты с небывалым рвением продавали все пакеты услуг и
    сервисов, какие только можно. А для большего веса своей речи повсеместно
    вставлялись слова, от которых у современного ИТ директора пробегает легкая
    волна возбуждения по телу.
  </p>

  <p>
    В бухгалтеров, сотрудников ремонтной службы, специалистов по контрактованию
    как из пулемета полетели “бест пректис”, “предиктивная аналитика”, “блок
    чейн”, “биг дата”, “машин лернинг”, “ин мемори датабейс” и другая непонятная
    никому ерунда, знакомая на уровне что-то слышал.
  </p>

  <p>
    Команда ИТ архитекторов с блеском справилась с данной нелепостью. Вы тоже
    можете повторить это упражнение. Все, что вам понадобится, это листок и
    ручка. Игра пойдет лучше, если ваши коллеги начнут делать денежные ставки.
  </p>

  <p>
    Расчертите поле, в каждую клетку которого впишите по одному слову или фразе,
    которая, как вы думаете, встретится в речи выступающего. Когда оратор
    произносит слово, отмечайте его в булшит бинго.
  </p>
  <p>
    Отличный набор для ИТ презентации вы уже видели выше. Могу предложить вам
    набор для встречи стратегического планирования: “диджитализация”, “цифровая
    трансформация”, “импортоопережение”, “agile”, “вижин”, “инсайт”, “доля
    рынка”.
  </p>

  <p>
    Поле готово? Принимайте ставки! Можно поставить на количество попаданий в
    определенное поле или закрытие всех клеток. В особо упоротом варианте можете
    ставить на частоту попадания. Например, среднестатистический консультант
    движется со скоростью 2 бест пректис в минуту.
  </p>

</Article>
