<script>
  import Article from "../../components/Article.svelte";
</script>

<Article header={{ title: 'Драмаметр', image: 'drama.jpg' }}>
  <p>
    Представьте, что проект находится в крутом пике, никто не знает, что
    происходит и когда это закончится, непонятно, кто за что отвечает, и когда
    что-то будет сделано, проектные совещания больше напоминают поминки.
    Представили? Да что я спрашиваю, скорее всего у вас сейчас идет такой проект
    или только-только отменился после нескольких лет или месяцев застоя.
  </p>

  <p>
    У вас есть шанс взять инициативу в свои руки. Нет, спасать проект мы не
    будем, просто немного разрядим обстановку. Выберите момент, когда всеобщее
    уныние достигнет апогея, возьмите маркер и нарисуйте Драма Метр.
  </p>

  <p>
    Это шкала от 1 до 10. Можете изобразить ее в виде градусника, в виде
    спидометра или любой другой шкалы. Попросите коллег оценить уровень драмы в
    проекте.
  </p>

  <p>Максимальная оценка 0-5? У вас все не так плохо.</p>
  <p>
    Если все сошлись на значении 5-8, то не отчаивайтесь, все будет еще хуже.
  </p>
  <p>
    Уровень драмы достиг показателя в 9-10? Отлично, не стирайте вашу шкалу, на
    следующем совещании вы поставите оценку 15.
  </p>
  <p>
    Если вам не лень, можете отслеживать этот показатель в динамике, а затем
    презентовать ваши наблюдения неравнодушным коллегам.
  </p>
    <p><img src="/images/wtf.png" alt="Драмаметр"></p>
  <p>
    Альтернативный вариант подсчета - показатель “Дней без драматизма”. Это
    почти как дни без травматизма на производстве, только тут вы можете получить
    перелом психики, растяжение пространственно-временного континуума, разрыв
    шаблона или ожог тленом бытия.
  </p>

</Article>
<style>

</style>
