<script>
  import Article from "../../components/Article.svelte";
</script>

<Article header={{ title: 'Тотализатор сроков', image: 'gambling.jpg' }}>
  <p>
    Если верить закону Паркинсона, работа заполняет время, отпущенное на неё. Но
    опытный сотрудник знает, что мало кто укладывается даже в отведенные сроки.
  </p>

  <p>
    Подрядчики затягивают внедрение системы на год, вместо пары месяцев. Коллеги
    выполняют задачу пару месяцев, хотя обещали управиться за несколько дней. Ну
    а задачка на пару часов превращается в неделю утомительного ожидания.
  </p>

  <p>
    Гневное требование выполнить все в срок обычно не приносит результатов,
    только нервы потратите. Что же делать? Выход есть!
  </p>

  <p>
    Найдите доверчивого коллегу, который посвящен в контекст, но еще верит в
    выполнение задач в срок. Предложите ему спор, будет ли работа выполнена за
    отведенное время (вы, конечно, знаете, на что ставить). Если есть шанс
    проиграть, предложите небольшую сумму, 100 - 200 рублей. А вот если вы
    наверняка знаете исход, поднимайте ставки! Не переусердствуйте, иначе то
    отпугнете жертву.
  </p>
  <p>
    Не любите ставки на деньги? Спорьте на мороженое, обед, алкоголь, что больше
    по душе.
  </p>

  <p>
    По этой схеме я всего один раз проиграл 200 рублей, но удовлетворение от
    выполненной в срок задачи перевесило утрату этой незначительной суммы.
  </p>

  <p>
    Второй вариант этого тотализатора - поспорить с самим исполнителем задачи.
    Будьте аккуратны, поскольку теперь ваш оппонент заинтересован в выполнении
    своей работы, и может справить в срок. Но ведь именного этого мы и
    добиваемся, верно?
  </p>
</Article>
