<script>
  import Article from "../../components/Article.svelte";
</script>

<Article header={{ title: 'Канбан из сотрудников', image: 'kanban.jpg' }}>
  <p>
    Канбан - это система управления производством, изначально придуманная
    компаний Toyota. В какой-то момент хитрые айтишники взяли на вооружение себе
    этот метод и стали повсеместно его применять.
  </p>
  <p>
    Вы скорее всего видели канбан доски с графами Todo, WIP (work in process),
    Complete, на которых наклеена куча стикеров. Раз в неделю, а иногда и раз в
    день, перед доской собирается толпа и начинает переклеивать стикеры.
  </p>

  <p>
    Сакральный смысл данного обряда очень прост. Когда появляется задача, она
    попадает в колонку Todo. Когда кто-то взял задачу в работу, она
    переклеивается в колонку WIP. А когда задача сделана, то она гордо
    перемещается в Complete.
  </p>

  <p>
    Названия и количество колонок может меняться, но смысл остается прежним.
  </p>

  <p>
    Так вот, в одной маленькой нефтедобывающей компании появился новый ИТ
    директор, который не признавал обряд поклонения канбану, и вообще считал,
    что подрядчики лучшие любого отдела ИТ. Стоит только махнуть контрактом, и
    любой проект будет реализован в срок и с оговоренным бюджетом.
  </p>

  <p>
    Обряд поклонения канбан доске совсем перестал проводиться, стикеры обреченно
    висели на месте, никто их не переклеивал. Но суеверные айтишники не могли
    этого так оставить, и начали приклеивать свои имена в Todo, когда
    выкладывали свое резюме на head hunter. После первого собеседования стикер
    переклеивался в WIP, а когда наступал последний рабочий день, имя гордо
    перемещалось в колонку Complete.
  </p>

  <p>
    Если у вас в компании есть канбан доска, вы тоже можете провернуть эту
    невинную шалость, когда соберетесь увольняться. Гарантирую, циничные коллеги
    будут в восторге.
  </p>

</Article>
