<script>
  import Article from "../../components/Article.svelte";
</script>

<Article header={{ title: 'Голос кореи', image: 'korea.jpg' }}>
  <p>
    Иногда команды бывают распределенными, и основные совещания происходят на
    аудио конференциях. Вам здорово повезло, если у вас есть повестка, и все
    говорят только по делу. Но чаще бывает наоборот. Коллега, обычно это
    менеджер, наделенный властью, захватывает эфир и все вынуждены слушать
    заунывные тирады про KPI, agile, цели, стратегию и прочие важные вещи. Все
    это сопровождается показом 50 слайдов с текстом 10 кегля. В худшем случае
    весь этот текст еще и будет зачитан.
  </p>

  <p>
    В это время обреченные слушатели листают ленту вконтакта, фейсбука или
    инстаграма. Технические специалисты почитывают хабр. Интересующиеся псевдо
    важными новостями смотрят РБК.
  </p>

  <p>
    У меня есть отличное предложение, как превратить это тоскливое мероприятие в
    крутую реп вечеринку. Открывайте <a href="https://soundcloud.com/" target="_blank">soundcloud.com</a>, вбивайте в поиск free hip
    hop beats, включайте любой трек и наслаждайтесь.
  </p>

  <p>
    Если у вас есть коллеги, разделяющие вашу позицию, создайте с ними отдельный
    чат и начинайте прокачивать хип-хоп вечеринку. Устройте конкурс на лучший
    бит, пишите РАУНД, если спикер сменился.
  </p>

  <p>
    Будьте аккуратны, судорожный смех может быть принят за насмешку над важными
    идеями вашего босса.
  </p>

  <p>
    Но причем тут голос Кореи? Впервые этот трюк я увидел на одном из
    развлекательных сайтов. Нужно было включить любую программу радио “Голос
    Кореи” и хип-хоп трек. Эффект потрясающий. Попробуйте, вам понравится.
  </p>

</Article>
