<script>
  import Article from "../../components/Article.svelte";
</script>

<Article header={{ title: 'Про KPI', image: 'kpi.jpg' }}>
  <p>
    Для любой системы KPI существует такая стратегия B, что показатели KPI при
    следовании этой стратегии находятся в зеленой зоне, но при этом сам проект
    через ж*пу идет в неизвестность.
    <br />
    © Максим Дорофеев. Джедайские техники. Как воспитать свою обезьяну,
    опустошить инбокс и сберечь мыслетопливо
  </p>

  <p>
    На ваши KPI страшно смотреть, но показывать все равно надо? Вот вам парочка
    приемов, как не ударить в грязь лицом.
  </p>
  <p>
    Не используйте красный цвет. Упали продажи? Покажите падение зеленым. Если
    спросят, говорите, что это ж продажи, как можно показывать продажи красным?
    Это же наш доход!
  </p>
  <p>
    <img src="/images/kpibar.png" alt="kpi бар чарт" />
  </p>
  <p>
    Используйте разные масштабы на графиках. Падение на 10%? Покажите это тонкой
    линией. Прирост 1%? Растяните на пол экрана
  </p>
  <p>
    <img src="/images/kpipercent.png" alt="kpi проценты" />
  </p>
  <p>
    Для диаграмм типа пирог используйте 3д режим. Подберите перспективу так,
    чтобы показатель выглядел максимально выгодно для вас
  </p>
  <p>
    <img src="/images/kpi3d.png" alt="kpi 3d" />
  </p>
  <p>
    Показатель плохо выглядит в динамике? Используйте круговую диаграмму.
    Уверен, что у ваших коллег не настолько прокачан глазомер, чтобы заметить
    падение в 10%. Для большего эффекта уберите подписи значений.
  </p>
  <p>
    <img src="/images/kpidinamic.png" alt="kpi в динамике" />
  </p>
  <p>Все еще плохо? Врубайте 3д режим</p>
  <p>
    <img src="/images/kpidinamic3d.png" alt="kpi в динамике 3d" />
  </p>

</Article>
