<script>
  import Article from "../../components/Article.svelte";
</script>

<Article
  header={{ title: 'Универсальная схема продающей презентации', image: 'sales.jpg' }}>
  <p>
    Универсальная схема продающей презентации очень проста. Эффектнее всего она
    смотрится когда ее рисуют по ходу выступления. Но в виде слайдов презентации
    тоже сойдет.
  </p>

  <p>Как нарисовать крутую, продающую презентацию?</p>
  <p>
    Возьмите маркер, подойдите к флипчарту или доске. Нарисуйте квадрат,
    напишите внутри название системы или процесса, который есть сейчас.
    Подпишите его “плохо”, “потери”, “убытки”, в зависимости от вашей ситуации.
  </p>
  <p>
    Рядом нарисуйте большую стрелку, подпишите ее названием вашей системы, или
    что вы там продаете.
  </p>
  <p>
    Теперь просто добавьте большой квадрат, в котором напишите “хорошо”,
    “прибыль” или “экономия”.
  </p>

  <p>
    <img
      src="/images/sales1.png"
      alt="Универсальная схема продающей презентации" />
  </p>
  <p>
    Поздравляю, вы только что сделали гениальную презентацию на уровне мировых
    консалтинговых компаний и крупных интеграторов.
  </p>

  <p>
    Если после этого клиент не мчится к вам с контрактом, нарисуйте график с
    явной точкой перегиба. Дорисуйте стрелку с названием вашей системы в этой
    точке. Не забудьте что-нибудь сказать про экспоненциальный или взрывной
    рост. Это придаст веса вашему графику. Но экспоненциальный все же лучше,
    особенно впечатляются девочки из бухгалтерии.
  </p>

  <p>
    <img
      src="/images/sales2.png"
      alt="Универсальная схема продающей презентации" />
  </p>
  <p>
    Большим препятствием на пути крутой продающей презентации могут стать
    коварные технические вопросы и уточнения.В таком случае, говорите, что
    передадите вопрос вашим техническим специалистам.
  </p>
</Article>
